<div class="container">
	<h1>Welcome to the Movies!</h1>
	<p>In Movies,<br>you can share and exchange your opinions ,inpressions , and emotions<br>
	about varioius movies!</p>
	<div>
		<ul>
			<li><%= link_to "log in", new_user_session_path %></li>
			<li><%= link_to "sign up", new_user_registration_path %></li>
		</ul>
	</div>
</div>
